<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TwinFrestack</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="stylesheet" type="text/css" href="jquery-ui.min.css">
  </head>

<body class="hold-transition skin-black-ligth sidebar-mini">
  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="/hrdash" class="logo">
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>TwinFreStack</b>@twin</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>


        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="logo-lg">Human resources</span>
              </a>
              <ul class="dropdown-menu">
                <!-- Menu Body -->
                <li class="user-body">
                  <div class="row">
                      <div class="col-xs-6 text-center">
                          <a href="/hrprofile">Profile</a>
                        </div>
                        <div class="col-xs-6 text-center">
                          <a href="/logout">Sign out</a>
                        </div>
                  </div>
                  <!-- /.row -->
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->

    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li>
            <a href="/hrdash">
              <i class="fa fa-bar-chart"></i> <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/hremp">
              <i class="fa fa-users"></i> <span>จัดการพนักงาน</span>
            </a>
          </li>
          <li>
            <a href="/hrbranch">
              <i class="fa fa-institution"></i> <span>จัดการสาขา</span>
            </a>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <!-- /.box-header -->
      <!-- form start -->
      <div class="col-xs-12">
          <div class="box">
            <div class="box-header">              
              <h3 class="box-title">ตาราง<%=header%>เพิ่มเติมของ <%=branch_name%></h3>

              <div class="box-tools pull-right">
                  <button type="button" class="btn btn-primary" onClick="window.location.href='/hrbranchadditadd?id=<%=branch_id%>'"> เพิ่ม </button>
                </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="stock_table" class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th style="width: 300px">รายการ</th>
                        <th style="width: 300px">ค่าใช้จ่าย</th>
                        <th style="width: 20px"><center>action</center></th>
                      </tr>
                </thead>
                <tbody style="color: #555555;">     
                  <% var i = 1
                  data.forEach(function(item){ %>              
                      <tr>
                      <td style="text-align: center;"><%=i++%></a></td>              
                      <td> <%=item.branch_addit_title%> </td>
                      <td> <%=item.branch_addit_price%> </td>
                      <td style="text-align: center;">
                        <a href="hrbranchadditedit?id=<%=item.branch_addit_id%>&&branch_id=<%=branch_id%>"><i class="fa fa-pencil-square-o btn btn-warning" aria-hidden="true"></i></a>|<a href="hrbranchadditdelete?id=<%=item.branch_addit_id%>&&branch_id=<%=branch_id%>" onclick="return confirm('ต้องการลบข้อมูลนี้หรือไม่ ?')"><i class="fa fa-times btn btn-danger" aria-hidden="true"></i></a>
                      </td>
                      </tr>
                      <%});%>
                          
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

 
        </div>
        <div class="col-xs-12">
            <div class="box">
              <div class="box-header">              
                <h3 class="box-title">ตาราง<%=header%>ทั่วไปของ <%=branch_name%></h3>
  
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-primary" onClick="window.location.href='/hrfixcostadd?id=<%=branch_id%>'" > เพิ่ม </button>
                  </div>
  
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="stock_table" class="table table-bordered table-hover">
                  <thead>
                      <tr>
                          <th style="width: 10px">#</th>
                          <th style="width: 300px">รายการ</th>
                          <th style="width: 300px">ค่าใช้จ่าย</th>
                          <th style="width: 20px"><center>action</center></th>
                        </tr>
                  </thead>
                  <tbody style="color: #555555;">     
                    <% var i = 1
                    data2.forEach(function(item2){ %>              
                        <tr>
                        <td style="text-align: center;"><%=i++%></td>              
                        <td>  <%=item2.fixcost_title%> </td>
                        <td>  <%=item2.fixcost_price%> </td>
                        <td style="text-align: center;">
                          <a href="hrfixcostedit?id=<%=item2.fixcost_id%>&&branch_id=<%=branch_id%>"><i class="fa fa-pencil-square-o btn btn-warning" aria-hidden="true"></i></a>|<a href="hrfixcostdelete?id=<%=item2.fixcost_id%>&&branch_id=<%=branch_id%>" onclick="return confirm('ต้องการลบข้อมูลนี้หรือไม่ ?')"><i class="fa fa-times btn btn-danger" aria-hidden="true"></i></a>
                        </td>
                        </tr>
                        <%});%>
                            
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
  
   
          </div>
    </div>
    <!-- /.box -->


  </div>
  <!--/.col (left) -->
  </div>
  <!-- /.row -->
  </section>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- jQuery 3 -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- DataTables -->
  <script src="bower_components/datatables/js/jquery.dataTables.min.js"></script>
  <script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <!-- SlimScroll -->
  <script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <!-- FastClick -->
  <script src="bower_components/fastclick/lib/fastclick.js"></script>
  <!-- AdminLTE App -->
  <script src="dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="dist/js/demo.js"></script>
  <!-- page script -->
  <script>
    $(function () {
      $('#stock_table').DataTable({
        'paging': true,
        'lengthChange': true,
        'pageLength': 10,
        'searching': true,
        'ordering': true,
        'info': true,
        'order-column': false,
        'autoWidth': false,

      })
    })
  </script>
<script src="jquery-3.3.1.min.js"></script>
<script src="jquery-ui.min.js"></script>
<script>
  $(document).ready(function(){
    $('#datepicker').datepicker({
      dateFormat : "dd-mm-yy",
      changeMonth: true,
      changeYear : true
    });
  })
</script>
<script>
    $(document).ready(function(){
      $('#datepicker2').datepicker({
        dateFormat : "dd-mm-yy",
        changeMonth: true,
        changeYear : true
      });
    })
  </script>
  <style>
    td {
      vertical-align: middle !important;
    }

    .block-with-text {
      display: block;
      display: -webkit-box;
      max-width: 100%;
      height: 30px;
      margin: 0 auto;
      font-size: 14px;
      line-height: 1;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
</body>

</html>