<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TwinFrestack</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <script>
            window.onload = function () {
              var data2019 = <%-JSON.stringify(data2019)%>;
              var data2018 = <%-JSON.stringify(data2018)%>;
              var data2017 = <%-JSON.stringify(data2017)%>;
              var data2016 = <%-JSON.stringify(data2016)%>;
              var data2015 = <%-JSON.stringify(data2015)%>;  
              //let data = data2019;
              var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "สรุปการทำงานของพนักงาน(วัน/ปี)"
	},
	axisX: {
		interval: 1
	},
	axisY: {
		scaleBreaks: {
			type: "wavy",
			customBreaks: [{
				startValue: 1,
				endValue: 365
				},
				{
					startValue: 1,
					endValue: 365
				}
		]}
	},
	data: [{
		type: "bar",
		dataPoints: data2019
	}]
});
chart.render();
              $('#year').change(function(){
                var year = $(this).val();
                if (year == 2019) {
                  data = data2019;
                }else if(year == 2018){
                  data = data2018;
                }else if(year == 2017){
                  data = data2017;
                }else if(year == 2016){
                  data = data2016;
                }else if(year == 2015){
                  data = data2015;
                }
                console.log(year)
                console.log(data)
                var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "สรุปการทำงานของพนักงาน(วัน/ปี)"
	},
	axisX: {
		interval: 1
	},
	axisY: {
    scaleBreaks: {
			type: "wavy",
			customBreaks: [{
				startValue: 1,
				endValue: 365
				},
				{
					startValue: 1,
					endValue: 365
				}
		]}
	},
	data: [{
		type: "bar",
		dataPoints: data
	}]
});
chart.render();
              });
           
            }
            </script>
</head>
<body class="hold-transition skin-black-ligth sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="/hrdash" class="logo">
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>TwinFreStack</b>@twin</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
    
    
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="logo-lg">Human resources</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <a href="/hrprofile">Profile</a>
                          </div>
                      <div class="col-xs-6 text-center">
                        <a href="/logout">Sign out</a>
                      </div>
                    </div>
                    <!-- /.row -->
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li>
            <a href="/hrdash">
              <i class="fa fa-bar-chart"></i> <span>Dashboard</span>
            </a>
          </li>
            <li>
              <a href="/hremp">
                <i class="fa fa-users"></i> <span>จัดการพนักงาน</span>
              </a>
            </li>
            <li>
              <a href="/hrbranch">
                <i class="fa fa-institution"></i> <span>จัดการสาขา</span>
              </a>
            </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            รายงาน     
        </h1>
    </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">              
                <h3 class="box-title">พนักงาน/ตำแหน่ง</h3>
  
                <div class="box-tools pull-right">
                  <button type="button" onClick="window.location.href='/hrdash'" class="btn btn-primary"> พนักงาน/ตำแหน่ง </button>
                  <button type="button" onClick="window.location.href='/hrdash2'" class="btn btn-success"> Manday </button>
                  <button type="button" onClick="window.location.href='/hrdash3'" class="btn btn-warning"> Project </button>
                  <button type="button" onClick="window.location.href='/hrdash4'" class="btn btn-danger"> รายงาน </button>
                  </div>
  
              </div>
              <!-- /.box-header -->
              <div class="box box-danger">
                <div class="box-header with-border">
                    <select id = "year">
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                      </select>
                    <div class="box-tools pull-right" style='margin-bottom: 20px'>
                      <button type="button" onClick="window.location.href='/hrdash4'" class="btn btn-link"> สรุปรายรับ/รายจ่ายรวมโครงการ </button>
                      <button type="button" onClick="window.location.href='/hrdash41'" class="btn btn-link"> สรุปการทำงานของพนักงาน </button>
                    </div>
                <div class="box-body">
                  <div class="chart" style='margin-top: 40px'>
                      <div id="chartContainer" style="height: 650px; width: 100%;"></div>  
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
  
   
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ChartJS -->
<script src="bower_components/chart.js/Chart.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<!-- DataTables -->
<script src="bower_components/datatables/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- page script -->
<script>
    $(function () {
      $('#stock_table').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'pageLength'  : 5,
        'searching'   : false,
        'ordering'    : true,      
        'info'        : true,
        'order-column': false,
        'autoWidth'   : false,
        
      })
    })
  </script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>  

</body>
</html>
