<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TwinFrestack</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
       <script>
window.onload = function () {
  var pro2019cost = <%-JSON.stringify(pro2019cost)%>;
  var pro2018cost = <%-JSON.stringify(pro2018cost)%>;
  var pro2017cost = <%-JSON.stringify(pro2017cost)%>;
  var pro2016cost = <%-JSON.stringify(pro2016cost)%>;
  var pro2015cost = <%-JSON.stringify(pro2015cost)%>;
  var pro2019sell = <%-JSON.stringify(pro2019sell)%>;
  var pro2018sell = <%-JSON.stringify(pro2018sell)%>;
  var pro2017sell = <%-JSON.stringify(pro2017sell)%>;
  var pro2016sell = <%-JSON.stringify(pro2016sell)%>;
  var pro2015sell = <%-JSON.stringify(pro2015sell)%>;
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{
		text: "cost/selling(Result)"
	},	
	axisY: {
		title: "รายรับ ( บาท ) ",
		titleFontColor: "#4F81BC",
		lineColor: "#4F81BC",
		labelFontColor: "#4F81BC",
		tickColor: "#4F81BC"
	},
	axisY2: {
		title: "รายจ่าย ( บาท )",
		titleFontColor: "#C0504E",
		lineColor: "#C0504E",
		labelFontColor: "#C0504E",
		tickColor: "#C0504E"
	},	
	toolTip: {
		shared: true
	},
	legend: {
		cursor:"pointer",
		itemclick: toggleDataSeries
	},
	data: [{
		type: "column",
		name: "รายรับ(บาท)",
		legendText: "รายรับ",
		showInLegend: true, 
		dataPoints:[
    { label: "2015", y: pro2015sell },
			{ label: "2016", y: pro2016sell },
			{ label: "2017", y: pro2017sell },
			{ label: "2018", y: pro2018sell },
      { label: "2019", y: pro2019sell }
		]
	},
	{
		type: "column",	
		name: "รายจ่าย(บาท)",
		legendText: "รายจ่าย",
		axisYType: "secondary",
		showInLegend: true,
		dataPoints:[
      { label: "2015", y: pro2015cost },
			{ label: "2016", y: pro2016cost },
			{ label: "2017", y: pro2017cost },
			{ label: "2018", y: pro2018cost },
			{ label: "2019", y: pro2019cost }
		]
	}]
});
chart.render();

function toggleDataSeries(e) {
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else {
		e.dataSeries.visible = true;
	}
	chart.render();
}

}
</script>
</head>
<body class="hold-transition skin-black-ligth sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>TwinFreStack</b>@twin</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
    
    
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="logo-lg">Admin</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <a href="/profile">Profile</a>
                          </div>
                      <div class="col-xs-6 text-center">
                        <a href="/logout">Sign out</a>
                      </div>
                    </div>
                    <!-- /.row -->
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li>
            <a href="/dash">
              <i class="fa fa-bar-chart"></i> <span>Dashboard</span>
            </a>
          </li>
          <li>
              <a href="/project">
                <i class="fa fa-file-text"></i> <span>จัดการโครงการ</span>
              </a>
            </li>
            <li>
              <a href="/emp">
                <i class="fa fa-users"></i> <span>จัดการพนักงาน</span>
              </a>
            </li>
            <li>
              <a href="/position">
                <i class="fa fa-suitcase"></i> <span>จัดการตำแหน่ง</span>
              </a>
            </li>
            <li>
              <a href="/branch">
                <i class="fa fa-institution"></i> <span>จัดการสาขา</span>
              </a>
            </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            รายงาน     
        </h1>
    </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">              
                <h3 class="box-title">พนักงาน/ตำแหน่ง</h3>
  
                <div class="box-tools pull-right">
                  <button type="button" onClick="window.location.href='/dash'" class="btn btn-primary"> พนักงาน/ตำแหน่ง </button>
                  <button type="button" onClick="window.location.href='/dash2'" class="btn btn-success"> Manday </button>
                  <button type="button" onClick="window.location.href='/dash3'" class="btn btn-warning"> Project </button>
                  <button type="button" onClick="window.location.href='/dash4'" class="btn btn-danger"> รายงาน </button>
                  </div>
  
              </div>
              <!-- /.box-header -->
              <div class="box box-danger">
                <div class="box-header with-border">
                    <div class="box-tools pull-right" style='margin-bottom: 20px'>
                        <button type="button" onClick="window.location.href='/dash4'" class="btn btn-link"> สรุปรายรับ/รายจ่ายรวมโครงการ </button>
                        <button type="button" onClick="window.location.href='/dash41'" class="btn btn-link"> สรุปการทำงานของพนักงาน </button>
                    </div>
                <div class="box-body">
                  <div class="chart" style='margin-top: 40px'>
                      <div id="chartContainer" style="height: 650px; width: 100%;"></div>  
                  </div>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
  
   
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ChartJS -->
<script src="bower_components/chart.js/Chart.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<!-- DataTables -->
<script src="bower_components/datatables/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- page script -->
<script>
    $(function () {
      $('#stock_table').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'pageLength'  : 5,
        'searching'   : false,
        'ordering'    : true,      
        'info'        : true,
        'order-column': false,
        'autoWidth'   : false,
        
      })
    })
  </script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>  

</body>
</html>
