<h2>Login</h2>
<a href="/dash">Back to home</a>
<div>
<form action="/login" method="POST">
    <label for="username">Username:</label>
  <input name="username" type="text"/>
  <br/>

  <label for="password">Password:</label>
  <input name="password" type="password"/>
  <br/>

  <button id="submitLogin">บันทึก</button>
</form>
  
</div>
